doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Traders Report 
    link(rel='icon', href=`/bootstrap/docs/favicon.ico`)
    link(href=`/bootstrap/dist/css/bootstrap.min.css`, rel='stylesheet')
    link(href=`/bootstrap/docs/examples/dashboard/dashboard.css`, rel='stylesheet')
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') UBS
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Dashboard
            li
              a(href='#') Settings
            li
              a(href='#') Profile
            li
              a(href='#') Help
          form.navbar-form.navbar-right
            input.form-control(type='text', placeholder='Search...')
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            li.active
              a(href='/ubs/dataValidate') Overview
            li
              a(href='/ubs/generatePL') Profit Loss Report
            li
              a(href='/ubs/traders') Traders
            li
              a(href='/ubs/upload') Upload
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          .container#tradersPanel
            h2 Trades of the Day
            p Click on the Trader names to view their trades
             each item in JSON.parse(rows)
              -var local_data = JSON.stringify(item.tradeReport)
              .panel-group
                .panel.panel-default
                  .panel-heading
                      h4.panel-title
                        a(data-toggle='collapse', href="#"+item.traderName) #{item.traderName}                 
                      input(type= 'hidden', name='target', value=local_data)
                  div(id=item.traderName).panel-collapse.collapse
                   -local_data = JSON.parse(local_data)
                    .table-responsive
                    table.table.table-striped.table-bordered
                      thead 
                        tr
                          th Company Symbol
                          th Product Type
                          th Action
                          th Volume
                          th Price Quote
                          th Base Currency
                          th P/L External
                          th P/L Internal
                          th P/L RMS 
                      tbody#bodytable
                        each item in local_data
                         -var int=parseFloat((item.yahooQuote-item.price)*item.volume)
                         -var ext=parseFloat((item.internalPrice-item.price)*item.volume)
                          tr
                            td=item.name
                            td=item.productType
                            td=item.actions
                            td=item.volume
                            td=item.price
                            td=item.baseCurrency
                            td=ext
                            td=int
                            td=0
                      tfoot#totaltable
                        tf
                          td Total
                          td
                          td
                          td
                          td
                          td
                          td=item.PandLHKDExt
                          td=item.PandLHKDInt
                          td=0
          .container#ProfitLoss
            h2 Profit Loss Report (Inproof)
            p HKD to USD = #{curr}
            table.table.table-striped.table-bordered
              thead
                tr
                  th Currency
                  th PL (TR-EXT)
                  th PL (TR-INT)
                  th PL RMS
              tbody
                tr
                  td USD
                  td #{finalPLUSDExt}
                  td #{finalPLUSDInt}
                  td #{finalPLUSDInt}
              tbody
                tr
                  td HKD
                  td #{finalPLHKDExt}
                  td #{finalPLHKDInt}
                  td #{finalPLHKDInt}
    // /container
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src=`/bootstrap/dist/js/bootstrap.min.js`)
    script.
      $(document).ready(function(){
        $("#tradersPanel div").find("input").each(function(){
          var reportDiv = $(this).parent().parent().next().children();
          var data = $(this).val();
          data = JSON.parse(data);
          $(reportDiv).each(function(){
            var value = $(this).find("input").value;
            value = JSON.stringify(value);
            console.log(value);        
          })
        })
      })
      
      
      
     


















